strict-peer-dependencies=false

@brainforgeau:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Default npm registry (for public packages)
registry=https://registry.npmjs.org/
