{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "trailingSlash": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-tailwindcss"],
   "tailwindStylesheet": "./resources/css/app.css"
}
